# Source Maps
*.css.map

# Grunt
node_modules
.jshintrc

images/src

.log
.sass-cache

# Sublime
*.sublime-workspace
*.sublime-project

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*